{{- define "dec_json_value" -}}
    {{- /*gotype: github.com/ogen-go/ogen/internal/gen2.Elem*/ -}}
    {{ $t := $.Type }}
    {{ $j := $t.JSON }}
    {{- if $t.IsPointer -}}
        {{ $.Var }} = nil
        var {{ $.NextVar }} {{ $t.PointerTo.Type }}
        if err := func() error {
          {{- template "dec_json_value" pointer_elem $ }}
        }(); err != nil {
          return err
        }
        {{ $.Var }} = &{{ $.NextVar }}
        return i.Error
    {{- else if $j.Read -}}
        {{ $.Var }} = {{ $t.GoType }}(i.{{ $j.Read }}())
        return i.Error
    {{- else if $j.Format }}
        v, err := json.Read{{ $t.Format }}(i)
        {{ $.Var }} = v
        if err != nil {
            return err
        }
        return i.Error
    {{- else if or ($t.IsStruct) ($t.IsEnum) }}
        if err := {{ $.Var }}.ReadJSON(i); err != nil {
            return err
        }
        return i.Error
    {{- else if $t.IsArray }}
        {{ $.Var }} = {{ $.Var }}[:0]
        var retErr error
        i.ReadArrayCB(func(i *json.Iterator) bool {
           var {{ $.NextVar }} {{ $t.Item.Type }}
           if err := func() error {
              {{- template "dec_json_value" sub_array_elem $ $t.Item }}
           }(); err != nil {
               retErr = err
               return false
           }
           {{ $.Var }} = append({{ $.Var }}, {{ $.NextVar }})
           return true
        })
        if retErr != nil {
           return retErr
        }
        return i.Error
    {{- else if $t.GenericOf }}
        {{- if $t.GenericVariant.Optional }}
          {{ $.Var }}.Reset()
        {{- end }}
        {{- $g := $t.GenericOf }}
        {{- if $g.Format }}
          if err := {{ $.Var }}.ReadJSON(i, json.Read{{ $g.JSON.Format }}); err != nil {
            return err
          }
          return nil
        {{- else }}
          if err := {{ $.Var }}.ReadJSON(i); err != nil {
            return err
          }
          return nil
        {{- end }}
    {{- else  -}}
        return fmt.Errorf(`decoding of "{{ $t.GoType }}" ({{ $t.Kind }}) is not implemented`)
    {{- end }}
{{- end -}}
