{{- define "enc_json_array" }}
    {{- /*gotype: github.com/ogen-go/ogen/internal/gen.Elem*/ -}}
    more.Down()
    j.WriteArrayStart()
    for _, elem := range {{ $.Var }} {
    {{ template "enc_json_value" array_elem $.Schema.Item }}
    }
    j.WriteArrayEnd()
    more.Up()
{{- end }}

{{- define "enc_json_start" -}}
    {{- /*gotype: github.com/ogen-go/ogen/internal/gen.Elem*/ -}}
    more.More()
    {{- if $.Field }}
      j.WriteObjectField("{{ $.Field }}")
    {{- end -}}
{{- end -}}

{{- define "enc_json_value" -}}
    {{- /*gotype: github.com/ogen-go/ogen/internal/gen.Elem*/ -}}
    {{- if or ($.Schema.IsStruct) ($.Schema.IsEnum) ($.Schema.IsPointer) -}}
        {{- if or (eq $.Schema.NilSemantic "invalid") (eq $.Schema.NilSemantic "optional") -}}
          if {{ $.Var }} != nil {
          {{- template "enc_json_start" $ }}
          {{ $.Var }}.WriteJSON(j)
          }
        {{- else if eq $.Schema.NilSemantic "null" -}}
            {{- template "enc_json_start" $ }}
            if {{ $.Var }} == nil {
            j.WriteNil()
            } else {
            {{ $.Var }}.WriteJSON(j)
            }
        {{- else -}}
            {{- template "enc_json_start" $ }}
            {{ $.Var }}.WriteJSON(j)
        {{- end -}}
    {{- else if $.Schema.GenericOf -}}
        {{- $g := $.Schema.GenericOf -}}
        {{- $v := $.Schema.GenericVariant -}}
        {{- if $v.Optional -}}
          if {{ $.Var }}.Set {
          {{- template "enc_json_start" $ }}
          {{ $.Var }}.WriteJSON(j{{ if $g.FormatCustom }}, json.Write{{ $g.JSONHelper }}{{ end }})
          }
        {{- else -}}
            {{- template "enc_json_start" $ }}
            {{ $.Var }}.WriteJSON(j{{ if $g.FormatCustom }}, json.Write{{ $g.JSONHelper }}{{ end }})
        {{- end -}}
    {{- else if $.Schema.JSONHelper -}}
        {{ template "enc_json_start" $ }}
        json.Write{{ $.Schema.JSONHelper }}(j, {{ $.Var }})
    {{- else if $.Schema.JSONWrite -}}
        {{ template "enc_json_start" $ }}
        j.{{ $.Schema.JSONWrite }}({{ $.Var }})
    {{- else if $.Schema.IsArray -}}
        {{- if eq $.Schema.NilSemantic "invalid" -}}
            {{ template "enc_json_start" $ }}
            {{ template "enc_json_array" $ -}}
        {{- else if eq $.Schema.NilSemantic "optional" -}}
          if {{ $.Var }} != nil {
          {{ template "enc_json_start" $ }}
          {{ template "enc_json_array" $ -}}
          }
        {{- else if eq $.Schema.NilSemantic "null" -}}
            {{- template "enc_json_start" $ }}
            if {{ $.Var }} == nil {
            j.WriteNil()
            } else {
            {{- template "enc_json_array" $ -}}
            }
        {{- end -}}
    {{- else -}}
        {{- if $.SubElem -}}
          _ = {{ $.Var }}
        {{- end -}}
        // Unsupported kind "{{ $.Schema.Kind  }}" for field "{{ $.Field }}".
    {{- end }}
{{- end -}}
