{{- /*gotype: github.com/ogen-go/ogen/internal/gen.TemplateConfig*/ -}}
{{ define "request_encoders" }}
{{ $pkg := $.Package }}
{{ template "header" $ }}

{{/* Range over all methods */}}
{{- range $op := $.Operations }}
{{- if $op.Request }}
func encode{{ $op.Name }}Request(req {{ $op.Request.Type.GoType }}) (data []byte, contentType string, err error) {
    {{- $requestsLength := len $op.Request.Contents }}
    {{- if eq $requestsLength 1 }}
    {{- range $ctype, $type := $op.Request.Contents }}

    {{- if eq $ctype "application/json" }}
    return json.Encode(req), "{{ $ctype }}", nil
    {{- else }}
    return nil, "", fmt.Errorf("{{ $ctype }} encoder not implemented")
    {{- end }}

    {{- end }}
    {{- else }}
    {{- /* Multiple requests */}}
    switch req := req.(type) {
    {{- range $contentType, $type := $op.Request.Contents }}
    case *{{ $type.GoType }}:
        {{- if eq $contentType "application/json" }}
        return json.Encode(req), "{{ $contentType }}", nil
        {{- else }}
        return nil, "", fmt.Errorf("{{ $contentType }} encoder not implemented")
        {{- end }}
    {{- end }}
    default:
        return nil, "", fmt.Errorf("unexpected request type: %T", req)
    }
    {{- end }}
}
{{- end }}
{{ end }}
{{/* Range over all methods */}}

{{ end }}
