{{- /*gotype: github.com/ogen-go/ogen/internal/gen.TemplateConfig*/ -}}

{{ define "server" }}
{{ $pkg := $.Package }}
{{ template "header" $ }}

// Server handles operations described by OpenAPI v3 specification.
type Server interface {
{{- range $op := $.Operations }}
    // {{ $op.Name }} implements {{ $op.Spec.OperationID }} operation.
    {{ $op.Name }}(ctx context.Context {{ if $op.Request }}, req {{ $op.Request.Type.GoType }}{{ end }}{{ if $op.Params }}, params {{ $op.Name }}Params {{ end }}) ({{ $op.Response.Type.GoType }}, error)
{{- end }}
}

{{ end }}
