{
  "openapi": "3.0.3",
  "info": {
    "title": "Telegram Bot API",
    "description": "API for Telegram bots",
    "termsOfService": "https://telegram.org/tos",
    "version": "5.3"
  },
  "servers": [
    {
      "description": "production",
      "url": "https://api.telegram.org/"
    }
  ],
  "paths": {
    "/addStickerToSet": {
      "description": "Use this method to add a new sticker to a set created by the bot. You must use exactly one of the fields png_sticker or tgs_sticker. Animated stickers can be added to animated sticker sets and only to them. Animated sticker sets can have up to 50 stickers. Static sticker sets can have up to 120 stickers. Returns True on success.",
      "post": {
        "operationId": "addStickerToSet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/addStickerToSet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/answerCallbackQuery": {
      "description": "Use this method to send answers to callback queries sent from inline keyboards. The answer will be displayed to the user as a notification at the top of the chat screen or as an alert. On success, True is returned.",
      "post": {
        "operationId": "answerCallbackQuery",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/answerCallbackQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/answerInlineQuery": {
      "description": "Use this method to send answers to an inline query. On success, True is returned.No more than 50 results per query are allowed.",
      "post": {
        "operationId": "answerInlineQuery",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/answerInlineQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/answerPreCheckoutQuery": {
      "description": "Once the user has confirmed their payment and shipping details, the Bot API sends the final confirmation in the form of an Update with the field pre_checkout_query. Use this method to respond to such pre-checkout queries. On success, True is returned. Note: The Bot API must receive an answer within 10 seconds after the pre-checkout query was sent.",
      "post": {
        "operationId": "answerPreCheckoutQuery",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/answerPreCheckoutQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/answerShippingQuery": {
      "description": "If you sent an invoice requesting a shipping address and the parameter is_flexible was specified, the Bot API will send an Update with a shipping_query field to the bot. Use this method to reply to shipping queries. On success, True is returned.",
      "post": {
        "operationId": "answerShippingQuery",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/answerShippingQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/banChatMember": {
      "description": "Use this method to ban a user in a group, a supergroup or a channel. In the case of supergroups and channels, the user will not be able to return to the chat on their own using invite links, etc., unless unbanned first. The bot must be an administrator in the chat for this to work and must have the appropriate admin rights. Returns True on success.",
      "post": {
        "operationId": "banChatMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/banChatMember"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/copyMessage": {
      "description": "Use this method to copy messages of any kind. Service messages and invoice messages can't be copied. The method is analogous to the method forwardMessage, but the copied message doesn't have a link to the original message. Returns the MessageId of the sent message on success.",
      "post": {
        "operationId": "copyMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/copyMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/createChatInviteLink": {
      "description": "Use this method to create an additional invite link for a chat. The bot must be an administrator in the chat for this to work and must have the appropriate admin rights. The link can be revoked using the method revokeChatInviteLink. Returns the new invite link as ChatInviteLink object.",
      "post": {
        "operationId": "createChatInviteLink",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createChatInviteLink"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/createNewStickerSet": {
      "description": "Use this method to create a new sticker set owned by a user. The bot will be able to edit the sticker set thus created. You must use exactly one of the fields png_sticker or tgs_sticker. Returns True on success.",
      "post": {
        "operationId": "createNewStickerSet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createNewStickerSet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/deleteChatPhoto": {
      "description": "Use this method to delete a chat photo. Photos can't be changed for private chats. The bot must be an administrator in the chat for this to work and must have the appropriate admin rights. Returns True on success.",
      "post": {
        "operationId": "deleteChatPhoto",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/deleteChatPhoto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/deleteChatStickerSet": {
      "description": "Use this method to delete a group sticker set from a supergroup. The bot must be an administrator in the chat for this to work and must have the appropriate admin rights. Use the field can_set_sticker_set optionally returned in getChat requests to check if the bot can use this method. Returns True on success.",
      "post": {
        "operationId": "deleteChatStickerSet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/deleteChatStickerSet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/deleteMessage": {
      "description": "Use this method to delete a message, including service messages, with the following limitations:- A message can only be deleted if it was sent less than 48 hours ago.- A dice message in a private chat can only be deleted if it was sent more than 24 hours ago.- Bots can delete outgoing messages in private chats, groups, and supergroups.- Bots can delete incoming messages in private chats.- Bots granted can_post_messages permissions can delete outgoing messages in channels.- If the bot is an administrator of a group, it can delete any message there.- If the bot has can_delete_messages permission in a supergroup or a channel, it can delete any message there.Returns True on success.",
      "post": {
        "operationId": "deleteMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/deleteMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/deleteMyCommands": {
      "description": "Use this method to delete the list of the bot's commands for the given scope and user language. After deletion, higher level commands will be shown to affected users. Returns True on success.",
      "post": {
        "operationId": "deleteMyCommands",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/deleteMyCommands"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/deleteStickerFromSet": {
      "description": "Use this method to delete a sticker from a set created by the bot. Returns True on success.",
      "post": {
        "operationId": "deleteStickerFromSet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/deleteStickerFromSet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/deleteWebhook": {
      "description": "Use this method to remove webhook integration if you decide to switch back to getUpdates. Returns True on success.",
      "post": {
        "operationId": "deleteWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/deleteWebhook"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/editChatInviteLink": {
      "description": "Use this method to edit a non-primary invite link created by the bot. The bot must be an administrator in the chat for this to work and must have the appropriate admin rights. Returns the edited invite link as a ChatInviteLink object.",
      "post": {
        "operationId": "editChatInviteLink",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/editChatInviteLink"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/editMessageCaption": {
      "description": "Use this method to edit captions of messages. On success, if the edited message is not an inline message, the edited Message is returned, otherwise True is returned.",
      "post": {
        "operationId": "editMessageCaption",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/editMessageCaption"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/editMessageLiveLocation": {
      "description": "Use this method to edit live location messages. A location can be edited until its live_period expires or editing is explicitly disabled by a call to stopMessageLiveLocation. On success, if the edited message is not an inline message, the edited Message is returned, otherwise True is returned.",
      "post": {
        "operationId": "editMessageLiveLocation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/editMessageLiveLocation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/editMessageMedia": {
      "description": "Use this method to edit animation, audio, document, photo, or video messages. If a message is part of a message album, then it can be edited only to an audio for audio albums, only to a document for document albums and to a photo or a video otherwise. When an inline message is edited, a new file can't be uploaded; use a previously uploaded file via its file_id or specify a URL. On success, if the edited message is not an inline message, the edited Message is returned, otherwise True is returned.",
      "post": {
        "operationId": "editMessageMedia",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/editMessageMedia"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/editMessageReplyMarkup": {
      "description": "Use this method to edit only the reply markup of messages. On success, if the edited message is not an inline message, the edited Message is returned, otherwise True is returned.",
      "post": {
        "operationId": "editMessageReplyMarkup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/editMessageReplyMarkup"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/editMessageText": {
      "description": "Use this method to edit text and game messages. On success, if the edited message is not an inline message, the edited Message is returned, otherwise True is returned.",
      "post": {
        "operationId": "editMessageText",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/editMessageText"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/exportChatInviteLink": {
      "description": "Use this method to generate a new primary invite link for a chat; any previously generated primary link is revoked. The bot must be an administrator in the chat for this to work and must have the appropriate admin rights. Returns the new invite link as String on success.",
      "post": {
        "operationId": "exportChatInviteLink",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/exportChatInviteLink"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/forwardMessage": {
      "description": "Use this method to forward messages of any kind. Service messages can't be forwarded. On success, the sent Message is returned.",
      "post": {
        "operationId": "forwardMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/forwardMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMsg"
          }
        }
      }
    },
    "/getChat": {
      "description": "Use this method to get up to date information about the chat (current name of the user for one-on-one conversations, current username of a user, group or channel, etc.). Returns a Chat object on success.",
      "post": {
        "operationId": "getChat",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getChat"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/getChatAdministrators": {
      "description": "Use this method to get a list of administrators in a chat. On success, returns an Array of ChatMember objects that contains information about all chat administrators except other bots. If the chat is a group or a supergroup and no administrators were appointed, only the creator will be returned.",
      "post": {
        "operationId": "getChatAdministrators",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getChatAdministrators"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/getChatMember": {
      "description": "Use this method to get information about a member of a chat. Returns a ChatMember object on success.",
      "post": {
        "operationId": "getChatMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getChatMember"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/getChatMemberCount": {
      "description": "Use this method to get the number of members in a chat. Returns Int on success.",
      "post": {
        "operationId": "getChatMemberCount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getChatMemberCount"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/getFile": {
      "description": "Use this method to get basic info about a file and prepare it for downloading. For the moment, bots can download files of up to 20MB in size. On success, a File object is returned. The file can then be downloaded via the link https://api.telegram.org/file/bot\u003ctoken\u003e/\u003cfile_path\u003e, where \u003cfile_path\u003e is taken from the response. It is guaranteed that the link will be valid for at least 1 hour. When the link expires, a new one can be requested by calling getFile again.",
      "post": {
        "operationId": "getFile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getFile"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/getGameHighScores": {
      "description": "Use this method to get data for high score tables. Will return the score of the specified user and several of their neighbors in a game. On success, returns an Array of GameHighScore objects.",
      "post": {
        "operationId": "getGameHighScores",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getGameHighScores"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/getMe": {
      "description": "A simple method for testing your bot's authentication token. Requires no parameters. Returns basic information about the bot in form of a User object.",
      "post": {
        "operationId": "getMe",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultUsr"
          }
        }
      }
    },
    "/getMyCommands": {
      "description": "Use this method to get the current list of the bot's commands for the given scope and user language. Returns Array of BotCommand on success. If commands aren't set, an empty list is returned.",
      "post": {
        "operationId": "getMyCommands",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getMyCommands"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/getStickerSet": {
      "description": "Use this method to get a sticker set. On success, a StickerSet object is returned.",
      "post": {
        "operationId": "getStickerSet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getStickerSet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/getUpdates": {
      "description": "Use this method to receive incoming updates using long polling (wiki). An Array of Update objects is returned.",
      "post": {
        "operationId": "getUpdates",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getUpdates"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/getUserProfilePhotos": {
      "description": "Use this method to get a list of profile pictures for a user. Returns a UserProfilePhotos object.",
      "post": {
        "operationId": "getUserProfilePhotos",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getUserProfilePhotos"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/leaveChat": {
      "description": "Use this method for your bot to leave a group, supergroup or channel. Returns True on success.",
      "post": {
        "operationId": "leaveChat",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/leaveChat"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/pinChatMessage": {
      "description": "Use this method to add a message to the list of pinned messages in a chat. If the chat is not a private chat, the bot must be an administrator in the chat for this to work and must have the 'can_pin_messages' admin right in a supergroup or 'can_edit_messages' admin right in a channel. Returns True on success.",
      "post": {
        "operationId": "pinChatMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pinChatMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/promoteChatMember": {
      "description": "Use this method to promote or demote a user in a supergroup or a channel. The bot must be an administrator in the chat for this to work and must have the appropriate admin rights. Pass False for all boolean parameters to demote a user. Returns True on success.",
      "post": {
        "operationId": "promoteChatMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/promoteChatMember"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/restrictChatMember": {
      "description": "Use this method to restrict a user in a supergroup. The bot must be an administrator in the supergroup for this to work and must have the appropriate admin rights. Pass True for all permissions to lift restrictions from a user. Returns True on success.",
      "post": {
        "operationId": "restrictChatMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/restrictChatMember"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/revokeChatInviteLink": {
      "description": "Use this method to revoke an invite link created by the bot. If the primary link is revoked, a new link is automatically generated. The bot must be an administrator in the chat for this to work and must have the appropriate admin rights. Returns the revoked invite link as ChatInviteLink object.",
      "post": {
        "operationId": "revokeChatInviteLink",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/revokeChatInviteLink"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/sendAnimation": {
      "description": "Use this method to send animation files (GIF or H.264/MPEG-4 AVC video without sound). On success, the sent Message is returned. Bots can currently send animation files of up to 50 MB in size, this limit may be changed in the future.",
      "post": {
        "operationId": "sendAnimation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendAnimation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMsg"
          }
        }
      }
    },
    "/sendAudio": {
      "description": "For sending voice messages, use the sendVoice method instead.",
      "post": {
        "operationId": "sendAudio",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendAudio"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/sendChatAction": {
      "description": "We only recommend using this method when a response from the bot will take a noticeable amount of time to arrive.",
      "post": {
        "operationId": "sendChatAction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendChatAction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/sendContact": {
      "description": "Use this method to send phone contacts. On success, the sent Message is returned.",
      "post": {
        "operationId": "sendContact",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendContact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMsg"
          }
        }
      }
    },
    "/sendDice": {
      "description": "Use this method to send an animated emoji that will display a random value. On success, the sent Message is returned.",
      "post": {
        "operationId": "sendDice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendDice"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMsg"
          }
        }
      }
    },
    "/sendDocument": {
      "description": "Use this method to send general files. On success, the sent Message is returned. Bots can currently send files of any type of up to 50 MB in size, this limit may be changed in the future.",
      "post": {
        "operationId": "sendDocument",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendDocument"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMsg"
          }
        }
      }
    },
    "/sendGame": {
      "description": "Use this method to send a game. On success, the sent Message is returned.",
      "post": {
        "operationId": "sendGame",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendGame"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMsg"
          }
        }
      }
    },
    "/sendInvoice": {
      "description": "Use this method to send invoices. On success, the sent Message is returned.",
      "post": {
        "operationId": "sendInvoice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendInvoice"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMsg"
          }
        }
      }
    },
    "/sendLocation": {
      "description": "Use this method to send point on the map. On success, the sent Message is returned.",
      "post": {
        "operationId": "sendLocation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendLocation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMsg"
          }
        }
      }
    },
    "/sendMediaGroup": {
      "description": "Use this method to send a group of photos, videos, documents or audios as an album. Documents and audio files can be only grouped in an album with messages of the same type. On success, an array of Messages that were sent is returned.",
      "post": {
        "operationId": "sendMediaGroup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendMediaGroup"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/sendMessage": {
      "description": "Use this method to send text messages. On success, the sent Message is returned.",
      "post": {
        "operationId": "sendMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMsg"
          }
        }
      }
    },
    "/sendPhoto": {
      "description": "Use this method to send photos. On success, the sent Message is returned.",
      "post": {
        "operationId": "sendPhoto",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendPhoto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMsg"
          }
        }
      }
    },
    "/sendPoll": {
      "description": "Use this method to send a native poll. On success, the sent Message is returned.",
      "post": {
        "operationId": "sendPoll",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendPoll"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMsg"
          }
        }
      }
    },
    "/sendSticker": {
      "description": "Use this method to send static .WEBP or animated .TGS stickers. On success, the sent Message is returned.",
      "post": {
        "operationId": "sendSticker",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendSticker"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMsg"
          }
        }
      }
    },
    "/sendVenue": {
      "description": "Use this method to send information about a venue. On success, the sent Message is returned.",
      "post": {
        "operationId": "sendVenue",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendVenue"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMsg"
          }
        }
      }
    },
    "/sendVideo": {
      "description": "Use this method to send video files, Telegram clients support mp4 videos (other formats may be sent as Document). On success, the sent Message is returned. Bots can currently send video files of up to 50 MB in size, this limit may be changed in the future.",
      "post": {
        "operationId": "sendVideo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendVideo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMsg"
          }
        }
      }
    },
    "/sendVideoNote": {
      "description": "As of v.4.0, Telegram clients support rounded square mp4 videos of up to 1 minute long. Use this method to send video messages. On success, the sent Message is returned.",
      "post": {
        "operationId": "sendVideoNote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendVideoNote"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMsg"
          }
        }
      }
    },
    "/sendVoice": {
      "description": "Use this method to send audio files, if you want Telegram clients to display the file as a playable voice message. For this to work, your audio must be in an .OGG file encoded with OPUS (other formats may be sent as Audio or Document). On success, the sent Message is returned. Bots can currently send voice messages of up to 50 MB in size, this limit may be changed in the future.",
      "post": {
        "operationId": "sendVoice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendVoice"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResultMsg"
          }
        }
      }
    },
    "/setChatAdministratorCustomTitle": {
      "description": "Use this method to set a custom title for an administrator in a supergroup promoted by the bot. Returns True on success.",
      "post": {
        "operationId": "setChatAdministratorCustomTitle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setChatAdministratorCustomTitle"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/setChatDescription": {
      "description": "Use this method to change the description of a group, a supergroup or a channel. The bot must be an administrator in the chat for this to work and must have the appropriate admin rights. Returns True on success.",
      "post": {
        "operationId": "setChatDescription",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setChatDescription"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/setChatPermissions": {
      "description": "Use this method to set default chat permissions for all members. The bot must be an administrator in the group or a supergroup for this to work and must have the can_restrict_members admin rights. Returns True on success.",
      "post": {
        "operationId": "setChatPermissions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setChatPermissions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/setChatPhoto": {
      "description": "Use this method to set a new profile photo for the chat. Photos can't be changed for private chats. The bot must be an administrator in the chat for this to work and must have the appropriate admin rights. Returns True on success.",
      "post": {
        "operationId": "setChatPhoto",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setChatPhoto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/setChatStickerSet": {
      "description": "Use this method to set a new group sticker set for a supergroup. The bot must be an administrator in the chat for this to work and must have the appropriate admin rights. Use the field can_set_sticker_set optionally returned in getChat requests to check if the bot can use this method. Returns True on success.",
      "post": {
        "operationId": "setChatStickerSet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setChatStickerSet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/setChatTitle": {
      "description": "Use this method to change the title of a chat. Titles can't be changed for private chats. The bot must be an administrator in the chat for this to work and must have the appropriate admin rights. Returns True on success.",
      "post": {
        "operationId": "setChatTitle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setChatTitle"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/setGameScore": {
      "description": "Use this method to set the score of the specified user in a game message. On success, if the message is not an inline message, the Message is returned, otherwise True is returned. Returns an error, if the new score is not greater than the user's current score in the chat and force is False.",
      "post": {
        "operationId": "setGameScore",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setGameScore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/setMyCommands": {
      "description": "Use this method to change the list of the bot's commands. See https://core.telegram.org/bots#commands for more details about bot commands. Returns True on success.",
      "post": {
        "operationId": "setMyCommands",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setMyCommands"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/setPassportDataErrors": {
      "description": "Use this if the data submitted by the user doesn't satisfy the standards your service requires for any reason. For example, if a birthday date seems invalid, a submitted document is blurry, a scan shows evidence of tampering, etc. Supply some details in the error message to make sure the user knows how to correct the issues.",
      "post": {
        "operationId": "setPassportDataErrors",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setPassportDataErrors"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/setStickerPositionInSet": {
      "description": "Use this method to move a sticker in a set created by the bot to a specific position. Returns True on success.",
      "post": {
        "operationId": "setStickerPositionInSet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setStickerPositionInSet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/setStickerSetThumb": {
      "description": "Use this method to set the thumbnail of a sticker set. Animated thumbnails can be set for animated sticker sets only. Returns True on success.",
      "post": {
        "operationId": "setStickerSetThumb",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setStickerSetThumb"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/setWebhook": {
      "description": "If you'd like to make sure that the Webhook request comes from Telegram, we recommend using a secret path in the URL, e.g. https://www.example.com/\u003ctoken\u003e. Since nobody else knows your bot's token, you can be pretty sure it's us.",
      "post": {
        "operationId": "setWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setWebhook"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/stopMessageLiveLocation": {
      "description": "Use this method to stop updating a live location message before live_period expires. On success, if the message is not an inline message, the edited Message is returned, otherwise True is returned.",
      "post": {
        "operationId": "stopMessageLiveLocation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/stopMessageLiveLocation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/stopPoll": {
      "description": "Use this method to stop a poll which was sent by the bot. On success, the stopped Poll is returned.",
      "post": {
        "operationId": "stopPoll",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/stopPoll"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/unbanChatMember": {
      "description": "Use this method to unban a previously banned user in a supergroup or channel. The user will not return to the group or channel automatically, but will be able to join via link, etc. The bot must be an administrator for this to work. By default, this method guarantees that after the call the user is not a member of the chat, but will be able to join it. So if the user is a member of the chat they will also be removed from the chat. If you don't want this, use the parameter only_if_banned. Returns True on success.",
      "post": {
        "operationId": "unbanChatMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/unbanChatMember"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/unpinAllChatMessages": {
      "description": "Use this method to clear the list of pinned messages in a chat. If the chat is not a private chat, the bot must be an administrator in the chat for this to work and must have the 'can_pin_messages' admin right in a supergroup or 'can_edit_messages' admin right in a channel. Returns True on success.",
      "post": {
        "operationId": "unpinAllChatMessages",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/unpinAllChatMessages"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/unpinChatMessage": {
      "description": "Use this method to remove a message from the list of pinned messages in a chat. If the chat is not a private chat, the bot must be an administrator in the chat for this to work and must have the 'can_pin_messages' admin right in a supergroup or 'can_edit_messages' admin right in a channel. Returns True on success.",
      "post": {
        "operationId": "unpinChatMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/unpinChatMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    },
    "/uploadStickerFile": {
      "description": "Use this method to upload a .PNG file with a sticker for later use in createNewStickerSet and addStickerToSet methods (can be used multiple times). Returns the uploaded File on success.",
      "post": {
        "operationId": "uploadStickerFile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/uploadStickerFile"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Result"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Animation": {
        "description": "This object represents an animation file (GIF or H.264/MPEG-4 AVC video without sound).",
        "type": "object",
        "properties": {
          "duration": {
            "description": "Duration of the video in seconds as defined by sender",
            "type": "integer"
          },
          "file_id": {
            "description": "Identifier for this file, which can be used to download or reuse the file",
            "type": "string"
          },
          "file_name": {
            "description": "Original animation filename as defined by sender",
            "type": "string"
          },
          "file_size": {
            "description": "File size in bytes",
            "type": "integer"
          },
          "file_unique_id": {
            "description": "Unique identifier for this file, which is supposed to be the same over time and for different bots. Can't be used to download or reuse the file",
            "type": "string"
          },
          "height": {
            "description": "Video height as defined by sender",
            "type": "integer"
          },
          "mime_type": {
            "description": "MIME type of the file as defined by sender",
            "type": "string"
          },
          "thumb": {
            "$ref": "#/components/schemas/PhotoSize",
            "description": "Animation thumbnail as defined by sender"
          },
          "width": {
            "description": "Video width as defined by sender",
            "type": "integer"
          }
        },
        "required": [
          "file_id",
          "file_unique_id",
          "width",
          "height",
          "duration"
        ]
      },
      "Audio": {
        "description": "This object represents an audio file to be treated as music by the Telegram clients.",
        "type": "object",
        "properties": {
          "duration": {
            "description": "Duration of the audio in seconds as defined by sender",
            "type": "integer"
          },
          "file_id": {
            "description": "Identifier for this file, which can be used to download or reuse the file",
            "type": "string"
          },
          "file_name": {
            "description": "Original filename as defined by sender",
            "type": "string"
          },
          "file_size": {
            "description": "File size in bytes",
            "type": "integer"
          },
          "file_unique_id": {
            "description": "Unique identifier for this file, which is supposed to be the same over time and for different bots. Can't be used to download or reuse the file",
            "type": "string"
          },
          "mime_type": {
            "description": "MIME type of the file as defined by sender",
            "type": "string"
          },
          "performer": {
            "description": "Performer of the audio as defined by sender or by audio tags",
            "type": "string"
          },
          "thumb": {
            "$ref": "#/components/schemas/PhotoSize",
            "description": "Thumbnail of the album cover to which the music file belongs"
          },
          "title": {
            "description": "Title of the audio as defined by sender or by audio tags",
            "type": "string"
          }
        },
        "required": [
          "file_id",
          "file_unique_id",
          "duration"
        ]
      },
      "BotCommand": {
        "description": "This object represents a bot command.",
        "type": "object",
        "properties": {
          "command": {
            "description": "Text of the command, 1-32 characters. Can contain only lowercase English letters, digits and underscores",
            "type": "string",
            "maxLength": 32,
            "minLength": 1
          },
          "description": {
            "description": "Description of the command, 3-256 characters",
            "type": "string",
            "maxLength": 256,
            "minLength": 3
          }
        },
        "required": [
          "command",
          "description"
        ]
      },
      "BotCommandScope": {
        "description": "This object represents the scope to which bot commands are applied. Currently, the following 7 scopes are supported:",
        "type": "object"
      },
      "BotCommandScopeAllChatAdministrators": {
        "description": "Represents the scope of bot commands, covering all group and supergroup chat administrators.",
        "type": "object",
        "properties": {
          "type": {
            "description": "Scope type, must be all_chat_administrators",
            "type": "string",
            "default": "all_chat_administrators"
          }
        },
        "required": [
          "type"
        ]
      },
      "BotCommandScopeAllGroupChats": {
        "description": "Represents the scope of bot commands, covering all group and supergroup chats.",
        "type": "object",
        "properties": {
          "type": {
            "description": "Scope type, must be all_group_chats",
            "type": "string",
            "default": "all_group_chats"
          }
        },
        "required": [
          "type"
        ]
      },
      "BotCommandScopeAllPrivateChats": {
        "description": "Represents the scope of bot commands, covering all private chats.",
        "type": "object",
        "properties": {
          "type": {
            "description": "Scope type, must be all_private_chats",
            "type": "string",
            "default": "all_private_chats"
          }
        },
        "required": [
          "type"
        ]
      },
      "BotCommandScopeChat": {
        "description": "Represents the scope of bot commands, covering a specific chat.",
        "type": "object",
        "properties": {
          "type": {
            "description": "Scope type, must be chat",
            "type": "string",
            "default": "chat"
          }
        },
        "required": [
          "type"
        ]
      },
      "BotCommandScopeChatAdministrators": {
        "description": "Represents the scope of bot commands, covering all administrators of a specific group or supergroup chat.",
        "type": "object",
        "properties": {
          "type": {
            "description": "Scope type, must be chat_administrators",
            "type": "string",
            "default": "chat_administrators"
          }
        },
        "required": [
          "type"
        ]
      },
      "BotCommandScopeChatMember": {
        "description": "Represents the scope of bot commands, covering a specific member of a group or supergroup chat.",
        "type": "object",
        "properties": {
          "type": {
            "description": "Scope type, must be chat_member",
            "type": "string",
            "default": "chat_member"
          },
          "user_id": {
            "description": "Unique identifier of the target user",
            "type": "integer"
          }
        },
        "required": [
          "type",
          "user_id"
        ]
      },
      "BotCommandScopeDefault": {
        "description": "Represents the default scope of bot commands. Default commands are used if no commands with a narrower scope are specified for the user.",
        "type": "object",
        "properties": {
          "type": {
            "description": "Scope type, must be default",
            "type": "string",
            "default": "default"
          }
        },
        "required": [
          "type"
        ]
      },
      "CallbackGame": {
        "description": "A placeholder, currently holds no information. Use BotFather to set up your game.",
        "type": "object"
      },
      "CallbackQuery": {
        "description": "This object represents an incoming callback query from a callback button in an inline keyboard. If the button that originated the query was attached to a message sent by the bot, the field message will be present. If the button was attached to a message sent via the bot (in inline mode), the field inline_message_id will be present. Exactly one of the fields data or game_short_name will be present.",
        "type": "object",
        "properties": {
          "chat_instance": {
            "description": "Global identifier, uniquely corresponding to the chat to which the message with the callback button was sent. Useful for high scores in games",
            "type": "string"
          },
          "data": {
            "description": "Data associated with the callback button. Be aware that a bad client can send arbitrary data in this field",
            "type": "string"
          },
          "from": {
            "$ref": "#/components/schemas/User",
            "description": "Sender"
          },
          "game_short_name": {
            "description": "Short name of a Game to be returned, serves as the unique identifier for the game",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier for this query",
            "type": "string"
          },
          "inline_message_id": {
            "description": "Identifier of the message sent via the bot in inline mode, that originated the query",
            "type": "string"
          },
          "message": {
            "$ref": "#/components/schemas/Message",
            "description": "Message with the callback button that originated the query. Note that message content and message date will not be available if the message is too old"
          }
        },
        "required": [
          "id",
          "from",
          "chat_instance"
        ]
      },
      "Chat": {
        "description": "This object represents a chat.",
        "type": "object",
        "properties": {
          "bio": {
            "description": "Bio of the other party in a private chat. Returned only in getChat",
            "type": "string"
          },
          "can_set_sticker_set": {
            "description": "True, if the bot can change the group sticker set. Returned only in getChat",
            "type": "boolean"
          },
          "description": {
            "description": "Description, for groups, supergroups and channel chats. Returned only in getChat",
            "type": "string"
          },
          "first_name": {
            "description": "First name of the other party in a private chat",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier for this chat. This number may have more than 32 significant bits and some programming languages may have difficulty/silent defects in interpreting it. But it has at most 52 significant bits, so a signed 64-bit integer or double-precision float type are safe for storing this identifier",
            "type": "integer"
          },
          "invite_link": {
            "description": "Primary invite link, for groups, supergroups and channel chats. Returned only in getChat",
            "type": "string"
          },
          "last_name": {
            "description": "Last name of the other party in a private chat",
            "type": "string"
          },
          "linked_chat_id": {
            "description": "Unique identifier for the linked chat, i.e. the discussion group identifier for a channel and vice versa; for supergroups and channel chats. This identifier may be greater than 32 bits and some programming languages may have difficulty/silent defects in interpreting it. But it is smaller than 52 bits, so a signed 64 bit integer or double-precision float type are safe for storing this identifier. Returned only in getChat",
            "type": "integer"
          },
          "location": {
            "$ref": "#/components/schemas/ChatLocation",
            "description": "For supergroups, the location to which the supergroup is connected. Returned only in getChat"
          },
          "message_auto_delete_time": {
            "description": "The time after which all messages sent to the chat will be automatically deleted; in seconds. Returned only in getChat",
            "type": "integer"
          },
          "permissions": {
            "$ref": "#/components/schemas/ChatPermissions",
            "description": "Default chat member permissions, for groups and supergroups. Returned only in getChat"
          },
          "photo": {
            "$ref": "#/components/schemas/ChatPhoto",
            "description": "Chat photo. Returned only in getChat"
          },
          "pinned_message": {
            "$ref": "#/components/schemas/Message",
            "description": "The most recent pinned message (by sending date). Returned only in getChat"
          },
          "slow_mode_delay": {
            "description": "For supergroups, the minimum allowed delay between consecutive messages sent by each unprivileged user. Returned only in getChat",
            "type": "integer"
          },
          "sticker_set_name": {
            "description": "For supergroups, name of group sticker set. Returned only in getChat",
            "type": "string"
          },
          "title": {
            "description": "Title, for supergroups, channels and group chats",
            "type": "string"
          },
          "type": {
            "description": "Type of chat, can be either “private”, “group”, “supergroup” or “channel”",
            "type": "string"
          },
          "username": {
            "description": "Username, for private chats, supergroups and channels if available",
            "type": "string"
          }
        },
        "required": [
          "id",
          "type"
        ]
      },
      "ChatInviteLink": {
        "description": "Represents an invite link for a chat.",
        "type": "object",
        "properties": {
          "creator": {
            "$ref": "#/components/schemas/User",
            "description": "Creator of the link"
          },
          "expire_date": {
            "description": "Point in time (Unix timestamp) when the link will expire or has been expired",
            "type": "integer"
          },
          "invite_link": {
            "description": "The invite link. If the link was created by another chat administrator, then the second part of the link will be replaced with “…”",
            "type": "string"
          },
          "is_primary": {
            "description": "True, if the link is primary",
            "type": "boolean"
          },
          "is_revoked": {
            "description": "True, if the link is revoked",
            "type": "boolean"
          },
          "member_limit": {
            "description": "Maximum number of users that can be members of the chat simultaneously after joining the chat via this invite link; 1-99999",
            "type": "integer"
          }
        },
        "required": [
          "invite_link",
          "creator",
          "is_primary",
          "is_revoked"
        ]
      },
      "ChatLocation": {
        "description": "Represents a location to which a chat is connected.",
        "type": "object",
        "properties": {
          "address": {
            "description": "Location address; 1-64 characters, as defined by the chat owner",
            "type": "string",
            "maxLength": 64,
            "minLength": 1
          },
          "location": {
            "$ref": "#/components/schemas/Location",
            "description": "The location to which the supergroup is connected. Can't be a live location"
          }
        },
        "required": [
          "location",
          "address"
        ]
      },
      "ChatMember": {
        "description": "This object contains information about one member of a chat. Currently, the following 6 types of chat members are supported:",
        "type": "object"
      },
      "ChatMemberAdministrator": {
        "description": "Represents a chat member that has some additional privileges.",
        "type": "object",
        "properties": {
          "can_be_edited": {
            "description": "True, if the bot is allowed to edit administrator privileges of that user",
            "type": "boolean"
          },
          "can_change_info": {
            "description": "True, if the user is allowed to change the chat title, photo and other settings",
            "type": "boolean"
          },
          "can_delete_messages": {
            "description": "True, if the administrator can delete messages of other users",
            "type": "boolean"
          },
          "can_edit_messages": {
            "description": "True, if the administrator can edit messages of other users and can pin messages; channels only",
            "type": "boolean"
          },
          "can_invite_users": {
            "description": "True, if the user is allowed to invite new users to the chat",
            "type": "boolean"
          },
          "can_manage_chat": {
            "description": "True, if the administrator can access the chat event log, chat statistics, message statistics in channels, see channel members, see anonymous administrators in supergroups and ignore slow mode. Implied by any other administrator privilege",
            "type": "boolean"
          },
          "can_manage_voice_chats": {
            "description": "True, if the administrator can manage voice chats",
            "type": "boolean"
          },
          "can_pin_messages": {
            "description": "True, if the user is allowed to pin messages; groups and supergroups only",
            "type": "boolean"
          },
          "can_post_messages": {
            "description": "True, if the administrator can post in the channel; channels only",
            "type": "boolean"
          },
          "can_promote_members": {
            "description": "True, if the administrator can add new administrators with a subset of their own privileges or demote administrators that he has promoted, directly or indirectly (promoted by administrators that were appointed by the user)",
            "type": "boolean"
          },
          "can_restrict_members": {
            "description": "True, if the administrator can restrict, ban or unban chat members",
            "type": "boolean"
          },
          "custom_title": {
            "description": "Custom title for this user",
            "type": "string"
          },
          "is_anonymous": {
            "description": "True, if the user's presence in the chat is hidden",
            "type": "boolean"
          },
          "status": {
            "description": "The member's status in the chat, always “administrator”",
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/User",
            "description": "Information about the user"
          }
        },
        "required": [
          "status",
          "user",
          "can_be_edited",
          "is_anonymous",
          "can_manage_chat",
          "can_delete_messages",
          "can_manage_voice_chats",
          "can_restrict_members",
          "can_promote_members",
          "can_change_info",
          "can_invite_users"
        ]
      },
      "ChatMemberBanned": {
        "description": "Represents a chat member that was banned in the chat and can't return to the chat or view chat messages.",
        "type": "object",
        "properties": {
          "status": {
            "description": "The member's status in the chat, always “kicked”",
            "type": "string"
          },
          "until_date": {
            "description": "Date when restrictions will be lifted for this user; unix time. If 0, then the user is banned forever",
            "type": "integer"
          },
          "user": {
            "$ref": "#/components/schemas/User",
            "description": "Information about the user"
          }
        },
        "required": [
          "status",
          "user",
          "until_date"
        ]
      },
      "ChatMemberLeft": {
        "description": "Represents a chat member that isn't currently a member of the chat, but may join it themselves.",
        "type": "object",
        "properties": {
          "status": {
            "description": "The member's status in the chat, always “left”",
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/User",
            "description": "Information about the user"
          }
        },
        "required": [
          "status",
          "user"
        ]
      },
      "ChatMemberMember": {
        "description": "Represents a chat member that has no additional privileges or restrictions.",
        "type": "object",
        "properties": {
          "status": {
            "description": "The member's status in the chat, always “member”",
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/User",
            "description": "Information about the user"
          }
        },
        "required": [
          "status",
          "user"
        ]
      },
      "ChatMemberOwner": {
        "description": "Represents a chat member that owns the chat and has all administrator privileges.",
        "type": "object",
        "properties": {
          "custom_title": {
            "description": "Custom title for this user",
            "type": "string"
          },
          "is_anonymous": {
            "description": "True, if the user's presence in the chat is hidden",
            "type": "boolean"
          },
          "status": {
            "description": "The member's status in the chat, always “creator”",
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/User",
            "description": "Information about the user"
          }
        },
        "required": [
          "status",
          "user",
          "is_anonymous"
        ]
      },
      "ChatMemberRestricted": {
        "description": "Represents a chat member that is under certain restrictions in the chat. Supergroups only.",
        "type": "object",
        "properties": {
          "can_add_web_page_previews": {
            "description": "True, if the user is allowed to add web page previews to their messages",
            "type": "boolean"
          },
          "can_change_info": {
            "description": "True, if the user is allowed to change the chat title, photo and other settings",
            "type": "boolean"
          },
          "can_invite_users": {
            "description": "True, if the user is allowed to invite new users to the chat",
            "type": "boolean"
          },
          "can_pin_messages": {
            "description": "True, if the user is allowed to pin messages",
            "type": "boolean"
          },
          "can_send_media_messages": {
            "description": "True, if the user is allowed to send audios, documents, photos, videos, video notes and voice notes",
            "type": "boolean"
          },
          "can_send_messages": {
            "description": "True, if the user is allowed to send text messages, contacts, locations and venues",
            "type": "boolean"
          },
          "can_send_other_messages": {
            "description": "True, if the user is allowed to send animations, games, stickers and use inline bots",
            "type": "boolean"
          },
          "can_send_polls": {
            "description": "True, if the user is allowed to send polls",
            "type": "boolean"
          },
          "is_member": {
            "description": "True, if the user is a member of the chat at the moment of the request",
            "type": "boolean"
          },
          "status": {
            "description": "The member's status in the chat, always “restricted”",
            "type": "string"
          },
          "until_date": {
            "description": "Date when restrictions will be lifted for this user; unix time. If 0, then the user is restricted forever",
            "type": "integer"
          },
          "user": {
            "$ref": "#/components/schemas/User",
            "description": "Information about the user"
          }
        },
        "required": [
          "status",
          "user",
          "is_member",
          "can_change_info",
          "can_invite_users",
          "can_pin_messages",
          "can_send_messages",
          "can_send_media_messages",
          "can_send_polls",
          "can_send_other_messages",
          "can_add_web_page_previews",
          "until_date"
        ]
      },
      "ChatMemberUpdated": {
        "description": "This object represents changes in the status of a chat member.",
        "type": "object",
        "properties": {
          "chat": {
            "$ref": "#/components/schemas/Chat",
            "description": "Chat the user belongs to"
          },
          "date": {
            "description": "Date the change was done in Unix time",
            "type": "integer"
          },
          "from": {
            "$ref": "#/components/schemas/User",
            "description": "Performer of the action, which resulted in the change"
          },
          "invite_link": {
            "$ref": "#/components/schemas/ChatInviteLink",
            "description": "Chat invite link, which was used by the user to join the chat; for joining by invite link events only"
          },
          "new_chat_member": {
            "$ref": "#/components/schemas/ChatMember",
            "description": "New information about the chat member"
          },
          "old_chat_member": {
            "$ref": "#/components/schemas/ChatMember",
            "description": "Previous information about the chat member"
          }
        },
        "required": [
          "chat",
          "from",
          "date",
          "old_chat_member",
          "new_chat_member"
        ]
      },
      "ChatPermissions": {
        "description": "Describes actions that a non-administrator user is allowed to take in a chat.",
        "type": "object",
        "properties": {
          "can_add_web_page_previews": {
            "description": "True, if the user is allowed to add web page previews to their messages, implies can_send_media_messages",
            "type": "boolean"
          },
          "can_change_info": {
            "description": "True, if the user is allowed to change the chat title, photo and other settings. Ignored in public supergroups",
            "type": "boolean"
          },
          "can_invite_users": {
            "description": "True, if the user is allowed to invite new users to the chat",
            "type": "boolean"
          },
          "can_pin_messages": {
            "description": "True, if the user is allowed to pin messages. Ignored in public supergroups",
            "type": "boolean"
          },
          "can_send_media_messages": {
            "description": "True, if the user is allowed to send audios, documents, photos, videos, video notes and voice notes, implies can_send_messages",
            "type": "boolean"
          },
          "can_send_messages": {
            "description": "True, if the user is allowed to send text messages, contacts, locations and venues",
            "type": "boolean"
          },
          "can_send_other_messages": {
            "description": "True, if the user is allowed to send animations, games, stickers and use inline bots, implies can_send_media_messages",
            "type": "boolean"
          },
          "can_send_polls": {
            "description": "True, if the user is allowed to send polls, implies can_send_messages",
            "type": "boolean"
          }
        }
      },
      "ChatPhoto": {
        "description": "This object represents a chat photo.",
        "type": "object",
        "properties": {
          "big_file_id": {
            "description": "File identifier of big (640x640) chat photo. This file_id can be used only for photo download and only for as long as the photo is not changed",
            "type": "string"
          },
          "big_file_unique_id": {
            "description": "Unique file identifier of big (640x640) chat photo, which is supposed to be the same over time and for different bots. Can't be used to download or reuse the file",
            "type": "string"
          },
          "small_file_id": {
            "description": "File identifier of small (160x160) chat photo. This file_id can be used only for photo download and only for as long as the photo is not changed",
            "type": "string"
          },
          "small_file_unique_id": {
            "description": "Unique file identifier of small (160x160) chat photo, which is supposed to be the same over time and for different bots. Can't be used to download or reuse the file",
            "type": "string"
          }
        },
        "required": [
          "small_file_id",
          "small_file_unique_id",
          "big_file_id",
          "big_file_unique_id"
        ]
      },
      "ChosenInlineResult": {
        "description": "Represents a result of an inline query that was chosen by the user and sent to their chat partner.",
        "type": "object",
        "properties": {
          "from": {
            "$ref": "#/components/schemas/User",
            "description": "The user that chose the result"
          },
          "inline_message_id": {
            "description": "Identifier of the sent inline message. Available only if there is an inline keyboard attached to the message. Will be also received in callback queries and can be used to edit the message",
            "type": "string"
          },
          "location": {
            "$ref": "#/components/schemas/Location",
            "description": "Sender location, only for bots that require user location"
          },
          "query": {
            "description": "The query that was used to obtain the result",
            "type": "string"
          },
          "result_id": {
            "description": "The unique identifier for the result that was chosen",
            "type": "string"
          }
        },
        "required": [
          "result_id",
          "from",
          "query"
        ]
      },
      "Contact": {
        "description": "This object represents a phone contact.",
        "type": "object",
        "properties": {
          "first_name": {
            "description": "Contact's first name",
            "type": "string"
          },
          "last_name": {
            "description": "Contact's last name",
            "type": "string"
          },
          "phone_number": {
            "description": "Contact's phone number",
            "type": "string"
          },
          "user_id": {
            "description": "Contact's user identifier in Telegram. This number may have more than 32 significant bits and some programming languages may have difficulty/silent defects in interpreting it. But it has at most 52 significant bits, so a 64-bit integer or double-precision float type are safe for storing this identifier",
            "type": "integer"
          },
          "vcard": {
            "description": "Additional data about the contact in the form of a vCard",
            "type": "string"
          }
        },
        "required": [
          "phone_number",
          "first_name"
        ]
      },
      "Dice": {
        "description": "This object represents an animated emoji that displays a random value.",
        "type": "object",
        "properties": {
          "emoji": {
            "description": "Emoji on which the dice throw animation is based",
            "type": "string"
          },
          "value": {
            "description": "Value of the dice, 1-6 for “”, “” and “” base emoji, 1-5 for “” and “” base emoji, 1-64 for “” base emoji",
            "type": "integer"
          }
        },
        "required": [
          "emoji",
          "value"
        ]
      },
      "Document": {
        "description": "This object represents a general file (as opposed to photos, voice messages and audio files).",
        "type": "object",
        "properties": {
          "file_id": {
            "description": "Identifier for this file, which can be used to download or reuse the file",
            "type": "string"
          },
          "file_name": {
            "description": "Original filename as defined by sender",
            "type": "string"
          },
          "file_size": {
            "description": "File size in bytes",
            "type": "integer"
          },
          "file_unique_id": {
            "description": "Unique identifier for this file, which is supposed to be the same over time and for different bots. Can't be used to download or reuse the file",
            "type": "string"
          },
          "mime_type": {
            "description": "MIME type of the file as defined by sender",
            "type": "string"
          },
          "thumb": {
            "$ref": "#/components/schemas/PhotoSize",
            "description": "Document thumbnail as defined by sender"
          }
        },
        "required": [
          "file_id",
          "file_unique_id"
        ]
      },
      "EncryptedCredentials": {
        "description": "Contains data required for decrypting and authenticating EncryptedPassportElement. See the Telegram Passport Documentation for a complete description of the data decryption and authentication processes.",
        "type": "object",
        "properties": {
          "data": {
            "description": "Base64-encoded encrypted JSON-serialized data with unique user's payload, data hashes and secrets required for EncryptedPassportElement decryption and authentication",
            "type": "string"
          },
          "hash": {
            "description": "Base64-encoded data hash for data authentication",
            "type": "string"
          },
          "secret": {
            "description": "Base64-encoded secret, encrypted with the bot's public RSA key, required for data decryption",
            "type": "string"
          }
        },
        "required": [
          "data",
          "hash",
          "secret"
        ]
      },
      "EncryptedPassportElement": {
        "description": "Contains information about documents or other Telegram Passport elements shared with the bot by the user.",
        "type": "object",
        "properties": {
          "data": {
            "description": "Base64-encoded encrypted Telegram Passport element data provided by the user, available for “personal_details”, “passport”, “driver_license”, “identity_card”, “internal_passport” and “address” types. Can be decrypted and verified using the accompanying EncryptedCredentials",
            "type": "string"
          },
          "email": {
            "description": "User's verified email address, available only for “email” type",
            "type": "string"
          },
          "front_side": {
            "$ref": "#/components/schemas/PassportFile",
            "description": "Encrypted file with the front side of the document, provided by the user. Available for “passport”, “driver_license”, “identity_card” and “internal_passport”. The file can be decrypted and verified using the accompanying EncryptedCredentials"
          },
          "hash": {
            "description": "Base64-encoded element hash for using in PassportElementErrorUnspecified",
            "type": "string"
          },
          "phone_number": {
            "description": "User's verified phone number, available only for “phone_number” type",
            "type": "string"
          },
          "reverse_side": {
            "$ref": "#/components/schemas/PassportFile",
            "description": "Encrypted file with the reverse side of the document, provided by the user. Available for “driver_license” and “identity_card”. The file can be decrypted and verified using the accompanying EncryptedCredentials"
          },
          "selfie": {
            "$ref": "#/components/schemas/PassportFile",
            "description": "Encrypted file with the selfie of the user holding a document, provided by the user; available for “passport”, “driver_license”, “identity_card” and “internal_passport”. The file can be decrypted and verified using the accompanying EncryptedCredentials"
          },
          "type": {
            "description": "Element type. One of “personal_details”, “passport”, “driver_license”, “identity_card”, “internal_passport”, “address”, “utility_bill”, “bank_statement”, “rental_agreement”, “passport_registration”, “temporary_registration”, “phone_number”, “email”",
            "type": "string"
          }
        },
        "required": [
          "type",
          "hash"
        ]
      },
      "File": {
        "description": "This object represents a file ready to be downloaded. The file can be downloaded via the link https://api.telegram.org/file/bot\u003ctoken\u003e/\u003cfile_path\u003e. It is guaranteed that the link will be valid for at least 1 hour. When the link expires, a new one can be requested by calling getFile.",
        "type": "object",
        "properties": {
          "file_id": {
            "description": "Identifier for this file, which can be used to download or reuse the file",
            "type": "string"
          },
          "file_path": {
            "description": "File path. Use https://api.telegram.org/file/bot\u003ctoken\u003e/\u003cfile_path\u003e to get the file",
            "type": "string"
          },
          "file_size": {
            "description": "File size in bytes, if known",
            "type": "integer"
          },
          "file_unique_id": {
            "description": "Unique identifier for this file, which is supposed to be the same over time and for different bots. Can't be used to download or reuse the file",
            "type": "string"
          }
        },
        "required": [
          "file_id",
          "file_unique_id"
        ]
      },
      "ForceReply": {
        "description": "Upon receiving a message with this object, Telegram clients will display a reply interface to the user (act as if the user has selected the bot's message and tapped 'Reply'). This can be extremely useful if you want to create user-friendly step-by-step interfaces without having to sacrifice privacy mode.",
        "type": "object",
        "properties": {
          "force_reply": {
            "description": "Shows reply interface to the user, as if they manually selected the bot's message and tapped 'Reply'",
            "type": "boolean"
          },
          "input_field_placeholder": {
            "description": "The placeholder to be shown in the input field when the reply is active; 1-64 characters",
            "type": "string",
            "maxLength": 64,
            "minLength": 1
          },
          "selective": {
            "description": "Use this parameter if you want to force reply from specific users only. Targets: 1) users that are @mentioned in the text of the Message object; 2) if the bot's message is a reply (has reply_to_message_id), sender of the original message",
            "type": "boolean"
          }
        },
        "required": [
          "force_reply"
        ]
      },
      "Game": {
        "description": "This object represents a game. Use BotFather to create and edit games, their short names will act as unique identifiers.",
        "type": "object",
        "properties": {
          "animation": {
            "$ref": "#/components/schemas/Animation",
            "description": "Animation that will be displayed in the game message in chats. Upload via BotFather"
          },
          "description": {
            "description": "Description of the game",
            "type": "string"
          },
          "text": {
            "description": "Brief description of the game or high scores included in the game message. Can be automatically edited to include current high scores for the game when the bot calls setGameScore, or manually edited using editMessageText. 0-4096 characters",
            "type": "string",
            "maxLength": 4096
          },
          "title": {
            "description": "Title of the game",
            "type": "string"
          }
        },
        "required": [
          "title",
          "description"
        ]
      },
      "GameHighScore": {
        "description": "This object represents one row of the high scores table for a game.",
        "type": "object",
        "properties": {
          "position": {
            "description": "Position in high score table for the game",
            "type": "integer"
          },
          "score": {
            "description": "Score",
            "type": "integer"
          },
          "user": {
            "$ref": "#/components/schemas/User",
            "description": "User"
          }
        },
        "required": [
          "position",
          "user",
          "score"
        ]
      },
      "InlineKeyboardButton": {
        "description": "This object represents one button of an inline keyboard. You must use exactly one of the optional fields.",
        "type": "object",
        "properties": {
          "callback_data": {
            "description": "Data to be sent in a callback query to the bot when button is pressed, 1-64 bytes",
            "type": "string"
          },
          "callback_game": {
            "$ref": "#/components/schemas/CallbackGame",
            "description": "Description of the game that will be launched when the user presses the button.NOTE: This type of button must always be the first button in the first row"
          },
          "login_url": {
            "$ref": "#/components/schemas/LoginUrl",
            "description": "An HTTP URL used to automatically authorize the user. Can be used as a replacement for the Telegram Login Widget"
          },
          "pay": {
            "description": "Specify True, to send a Pay button.NOTE: This type of button must always be the first button in the first row",
            "type": "boolean"
          },
          "switch_inline_query": {
            "description": "If set, pressing the button will prompt the user to select one of their chats, open that chat and insert the bot's username and the specified inline query in the input field. Can be empty, in which case just the bot's username will be inserted.Note: This offers an easy way for users to start using your bot in inline mode when they are currently in a private chat with it. Especially useful when combined with switch_pm… actions – in this case the user will be automatically returned to the chat they switched from, skipping the chat selection screen",
            "type": "string"
          },
          "switch_inline_query_current_chat": {
            "description": "If set, pressing the button will insert the bot's username and the specified inline query in the current chat's input field. Can be empty, in which case only the bot's username will be inserted.This offers a quick way for the user to open your bot in inline mode in the same chat – good for selecting something from multiple options",
            "type": "string"
          },
          "text": {
            "description": "Label text on the button",
            "type": "string"
          },
          "url": {
            "description": "HTTP or tg:// url to be opened when button is pressed",
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "text"
        ]
      },
      "InlineKeyboardMarkup": {
        "description": "This object represents an inline keyboard that appears right next to the message it belongs to.",
        "type": "object"
      },
      "InlineQuery": {
        "description": "This object represents an incoming inline query. When the user sends an empty query, your bot could return some default or trending results.",
        "type": "object",
        "properties": {
          "chat_type": {
            "description": "Type of the chat, from which the inline query was sent. Can be either “sender” for a private chat with the inline query sender, “private”, “group”, “supergroup”, or “channel”. The chat type should be always known for requests sent from official clients and most third-party clients, unless the request was sent from a secret chat",
            "type": "string"
          },
          "from": {
            "$ref": "#/components/schemas/User",
            "description": "Sender"
          },
          "id": {
            "description": "Unique identifier for this query",
            "type": "string"
          },
          "location": {
            "$ref": "#/components/schemas/Location",
            "description": "Sender location, only for bots that request user location"
          },
          "offset": {
            "description": "Offset of the results to be returned, can be controlled by the bot",
            "type": "string"
          },
          "query": {
            "description": "Text of the query (up to 256 characters)",
            "type": "string"
          }
        },
        "required": [
          "id",
          "from",
          "query",
          "offset"
        ]
      },
      "InlineQueryResultArticle": {
        "description": "Represents a link to an article or web page.",
        "type": "object",
        "properties": {
          "description": {
            "description": "Short description of the result",
            "type": "string"
          },
          "hide_url": {
            "description": "Pass True, if you don't want the URL to be shown in the message",
            "type": "boolean"
          },
          "id": {
            "description": "Unique identifier for this result, 1-64 Bytes",
            "type": "string"
          },
          "input_message_content": {
            "$ref": "#/components/schemas/InputMessageContent",
            "description": "Content of the message to be sent"
          },
          "reply_markup": {
            "$ref": "#/components/schemas/InlineKeyboardMarkup",
            "description": "Inline keyboard attached to the message"
          },
          "thumb_height": {
            "description": "Thumbnail height",
            "type": "integer"
          },
          "thumb_url": {
            "description": "URL of the thumbnail for the result",
            "type": "string",
            "format": "uri"
          },
          "thumb_width": {
            "description": "Thumbnail width",
            "type": "integer"
          },
          "title": {
            "description": "Title of the result",
            "type": "string"
          },
          "type": {
            "description": "Type of the result, must be article",
            "type": "string",
            "default": "article"
          },
[...]
