{
  "openapi": "3.0.1",
  "info": {
    "title": "The Blue Alliance API v3",
    "description": "# Overview \n\n Information and statistics about FIRST Robotics Competition teams and events. \n\n# Authentication \n\nAll endpoints require an Auth Key to be passed in the header `X-TBA-Auth-Key`. If you do not have an auth key yet, you can obtain one from your [Account Page](/account). \n\n A `User-Agent` header may need to be set to prevent a 403 Unauthorized error.",
    "version": "3.8.0",
    "x-version-info": "Versions of the API follow the format X.Y.Z, with X being a major version, Y denoting the minor version, and Z the point release. Changes to the spec or API that result in a major version change will significantly impact implementations. Changes to the minor version indicate paths and/or fields in existing models may be added, and any breaking changes will be confined to paths or models listed as in-development in the prior minor version. Changes to the point release indicate no format or structure changes to the paths or models, but updated or clarified documentation. Note that changes to paths and models refer to the actual result from the API, not the documentation.",
    "x-changes": "3.8.0-3.8.1: Added Webcast date field. 3.7.0-3.8.0: Added 2020 Match Breakdown. 3.6.0-3.7.0: Added Zebra MotionWorks endpoints and models. 3.5.2-3.6.0: Added `school_name` to the Team model. 3.5.1-3.5.2: Removed `key` from the Media object, set `foreign_key` as a required property. 3.5-3.5.1: Fixed api clients crashing when requesting simple matches resulting in ties. 3.04.1 - 3.5: Updated the spec to follow OpenAPI standards. 3.04.0 - 3.04.1: Team motto will now return null. 3.03.1 - 3.04.0: Add direct_url and view_url to the Media model. 3.03.0 - 3.03.1: Fix model of /team/{team_key}/robots to match API, add min and max for year and add min for page_num. 3.02.1 - 3.03.0: Added Timeseries models and endpoints. 3.02.0 - 3.02.1: Fixed the model for `/team/{team_key}/districts` to match return from API. 3.1.0 - 3.02.0: Added `tba_gameData` to score breakdown and a leading zero to the minor version number to allow for easier sorting later. 3.0.5 - 3.1.0: Version bump for 2018 added fields and endpoints. Models Updated: `Team_Event_Status`, `Media`, 2018 Score Breakdowns. Endpoints Added: `/team/{team_key}/events/{year}/statuses`, `/event/{event_key}/teams/statuses` 3.0.4 - 3.0.5: Minor spelling fixes. Remove 2016 fields from `Match_Score_Breakdown_2017_Alliance` model. Fix `first_event_id` in `Event` model to correct type. Update `Media`.`type` enum. --- 3.0.3 - 3.0.4: Correct syntax in `Team_Event_Status_playoff` object, include descriptions in `Event_District_Points` and fix the path in `Team_Event_Status_playoff.properties.record` in order to more closely match Swagger spec. Fix syntax of `Match.video` to be correct and accurately reflect what is returned by the API. --- 3.0.2 - 3.0.3: `extra_stats` and `extra_stats_info` added to `Event_Ranking` model. Corrected match video property claiming to use the `Media` model, which it doesn't. Added `first_event_code` to the `Event` model. Added `/team/{team_key}/media/tag/{media_tag}` and year endpoints. Added `dq_team_keys` to `Match_alliance` model.  --- 3.0.1 - 3.0.2: `Team_Event_Status` and `Event_Ranking` model documentation changed to reflect actual API return. Changes involved W-L-T and ranking properties. --- 3.0.0 - 3.0.1: Descriptions updated to clarify some terms and improve grammar. The `district` property on the `Event` object now points to the `District_List` model, which was identical. `Required` fields on fully documented models now represent fields that may not be `null`. `District_Ranking` model documented."
  },
  "servers": [
    {
      "url": "https://www.thebluealliance.com/api/v3"
    }
  ],
  "tags": [
    {
      "name": "TBA",
      "description": "Calls that expose TBA internals or status."
    },
    {
      "name": "list",
      "description": "Calls that return a list of records."
    },
    {
      "name": "team",
      "description": "Calls that return team or team-specific information."
    },
    {
      "name": "event",
      "description": "Calls that return event, or event-specific information."
    },
    {
      "name": "match",
      "description": "Calls that return match, or match-specific information."
    },
    {
      "name": "district",
      "description": "Calls that return district, or district-related information."
    }
  ],
  "paths": {
    "/status": {
      "get": {
        "tags": [
          "TBA"
        ],
        "description": "Returns API status, and TBA status information.",
        "operationId": "getStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API_Status"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/teams/{page_num}": {
      "get": {
        "tags": [
          "team",
          "list"
        ],
        "description": "Gets a list of `Team` objects, paginated in groups of 500.",
        "operationId": "getTeams",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/page_num"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Team"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/teams/{page_num}/simple": {
      "get": {
        "tags": [
          "team",
          "list"
        ],
        "description": "Gets a list of short form `Team_Simple` objects, paginated in groups of 500.",
        "operationId": "getTeamsSimple",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/page_num"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Team_Simple"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "x-comment": "Simple (non-full) responses need a separate path definition. See also https://github.com/OAI/OpenAPI-Specification/issues/270"
    },
    "/teams/{page_num}/keys": {
      "get": {
        "tags": [
          "team",
          "list"
        ],
        "description": "Gets a list of Team keys, paginated in groups of 500. (Note, each page will not have 500 teams, but will include the teams within that range of 500.)",
        "operationId": "getTeamsKeys",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/page_num"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/teams/{year}/{page_num}": {
      "get": {
        "tags": [
          "team",
          "list"
        ],
        "description": "Gets a list of `Team` objects that competed in the given year, paginated in groups of 500.",
        "operationId": "getTeamsByYear",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/year"
          },
          {
            "$ref": "#/components/parameters/page_num"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Team"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/teams/{year}/{page_num}/simple": {
      "get": {
        "tags": [
          "team",
          "list"
        ],
        "description": "Gets a list of short form `Team_Simple` objects that competed in the given year, paginated in groups of 500.",
        "operationId": "getTeamsByYearSimple",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/year"
          },
          {
            "$ref": "#/components/parameters/page_num"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Team_Simple"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/teams/{year}/{page_num}/keys": {
      "get": {
        "tags": [
          "team",
          "list"
        ],
        "description": "Gets a list Team Keys that competed in the given year, paginated in groups of 500.",
        "operationId": "getTeamsByYearKeys",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/year"
          },
          {
            "$ref": "#/components/parameters/page_num"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Array of Team Keys",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}": {
      "get": {
        "tags": [
          "team"
        ],
        "description": "Gets a `Team` object for the team referenced by the given key.",
        "operationId": "getTeam",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/team_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/simple": {
      "get": {
        "tags": [
          "team"
        ],
        "description": "Gets a `Team_Simple` object for the team referenced by the given key.",
        "operationId": "getTeamSimple",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/team_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team_Simple"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/years_participated": {
      "get": {
        "tags": [
          "team"
        ],
        "description": "Gets a list of years in which the team participated in at least one competition.",
        "operationId": "getTeamYearsParticipated",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/team_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/districts": {
      "get": {
        "tags": [
          "team",
          "district"
        ],
        "description": "Gets an array of districts representing each year the team was in a district. Will return an empty array if the team was never in a district.",
        "operationId": "getTeamDistricts",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/team_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/District_List"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/robots": {
      "get": {
        "tags": [
          "team"
        ],
        "description": "Gets a list of year and robot name pairs for each year that a robot name was provided. Will return an empty array if the team has never named a robot.",
        "operationId": "getTeamRobots",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/team_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Team_Robot"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/events": {
      "get": {
        "tags": [
          "team",
          "event"
        ],
        "description": "Gets a list of all events this team has competed at.",
        "operationId": "getTeamEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/team_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/events/simple": {
      "get": {
        "tags": [
          "team",
          "event"
        ],
        "description": "Gets a short-form list of all events this team has competed at.",
        "operationId": "getTeamEventsSimple",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/team_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event_Simple"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/events/keys": {
      "get": {
        "tags": [
          "team",
          "event"
        ],
        "description": "Gets a list of the event keys for all events this team has competed at.",
        "operationId": "getTeamEventsKeys",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/team_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Array of Event Keys",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/events/{year}": {
      "get": {
        "tags": [
          "team",
          "event"
        ],
        "description": "Gets a list of events this team has competed at in the given year.",
        "operationId": "getTeamEventsByYear",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/team_key"
          },
          {
            "$ref": "#/components/parameters/year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/events/{year}/simple": {
      "get": {
        "tags": [
          "team",
          "event"
        ],
        "description": "Gets a short-form list of events this team has competed at in the given year.",
        "operationId": "getTeamEventsByYearSimple",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/team_key"
          },
          {
            "$ref": "#/components/parameters/year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event_Simple"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/events/{year}/keys": {
      "get": {
        "tags": [
          "team",
          "event"
        ],
        "description": "Gets a list of the event keys for events this team has competed at in the given year.",
        "operationId": "getTeamEventsByYearKeys",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/team_key"
          },
          {
            "$ref": "#/components/parameters/year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Array of Event Keys",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/events/{year}/statuses": {
      "get": {
        "tags": [
          "list",
          "team",
          "event"
        ],
        "description": "Gets a key-value list of the event statuses for events this team has competed at in the given year.",
        "operationId": "getTeamEventsStatusesByYear",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/team_key"
          },
          {
            "$ref": "#/components/parameters/year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/Team_Event_Status"
                  },
                  "description": "A key-value pair of `Team_Event_Status` objects with the event key as the key."
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/event/{event_key}/matches": {
      "get": {
        "tags": [
          "team",
          "event",
          "match"
        ],
        "description": "Gets a list of matches for the given team and event.",
        "operationId": "getTeamEventMatches",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/team_key"
          },
          {
            "$ref": "#/components/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Match"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/event/{event_key}/matches/simple": {
      "get": {
        "tags": [
          "team",
          "event",
          "match"
        ],
        "description": "Gets a short-form list of matches for the given team and event.",
        "operationId": "getTeamEventMatchesSimple",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/team_key"
          },
          {
            "$ref": "#/components/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Match"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/event/{event_key}/matches/keys": {
      "get": {
        "tags": [
          "team",
          "event",
          "match"
        ],
        "description": "Gets a list of match keys for matches for the given team and event.",
        "operationId": "getTeamEventMatchesKeys",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/team_key"
          },
          {
            "$ref": "#/components/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Array of Match Keys",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/event/{event_key}/awards": {
      "get": {
        "tags": [
          "team",
          "event"
        ],
        "description": "Gets a list of awards the given team won at the given event.",
        "operationId": "getTeamEventAwards",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/team_key"
          },
          {
            "$ref": "#/components/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Award"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/event/{event_key}/status": {
      "get": {
        "tags": [
          "team",
          "event"
        ],
        "description": "Gets the competition rank and status of the team at the given event.",
        "operationId": "getTeamEventStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/team_key"
          },
          {
            "$ref": "#/components/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team_Event_Status"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/awards": {
      "get": {
        "tags": [
          "team"
        ],
        "description": "Gets a list of awards the given team has won.",
        "operationId": "getTeamAwards",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/team_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Award"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/awards/{year}": {
      "get": {
        "tags": [
          "team"
        ],
        "description": "Gets a list of awards the given team has won in a given year.",
        "operationId": "getTeamAwardsByYear",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/team_key"
          },
          {
            "$ref": "#/components/parameters/year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Award"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/matches/{year}": {
      "get": {
        "tags": [
          "team",
          "match"
        ],
        "description": "Gets a list of matches for the given team and year.",
        "operationId": "getTeamMatchesByYear",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/team_key"
          },
          {
            "$ref": "#/components/parameters/year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Match"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/matches/{year}/simple": {
      "get": {
        "tags": [
          "team",
          "match"
        ],
        "description": "Gets a short-form list of matches for the given team and year.",
        "operationId": "getTeamMatchesByYearSimple",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/team_key"
          },
          {
            "$ref": "#/components/parameters/year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Match_Simple"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/matches/{year}/keys": {
      "get": {
        "tags": [
          "team",
          "match"
        ],
        "description": "Gets a list of match keys for matches for the given team and year.",
        "operationId": "getTeamMatchesByYearKeys",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/team_key"
          },
          {
            "$ref": "#/components/parameters/year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Array of Match Keys",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/media/{year}": {
      "get": {
        "tags": [
          "team"
        ],
        "description": "Gets a list of Media (videos / pictures) for the given team and year.",
        "operationId": "getTeamMediaByYear",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/team_key"
          },
          {
            "$ref": "#/components/parameters/year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Media"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/media/tag/{media_tag}": {
      "get": {
        "tags": [
          "team"
        ],
        "description": "Gets a list of Media (videos / pictures) for the given team and tag.",
        "operationId": "getTeamMediaByTag",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/team_key"
          },
          {
            "$ref": "#/components/parameters/media_tag"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Media"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"

          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/media/tag/{media_tag}/{year}": {
      "get": {
        "tags": [
          "team"
        ],
        "description": "Gets a list of Media (videos / pictures) for the given team, tag and year.",
        "operationId": "getTeamMediaByTagYear",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/team_key"
          },
          {
            "$ref": "#/components/parameters/media_tag"
          },
          {
            "$ref": "#/components/parameters/year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Media"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"

          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/social_media": {
      "get": {
        "tags": [
          "team"
        ],
        "description": "Gets a list of Media (social media) for the given team.",
        "operationId": "getTeamSocialMedia",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/team_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Media"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"

          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/events/{year}": {
      "get": {
        "tags": [
          "event",
          "list"
        ],
        "description": "Gets a list of events in the given year.",
        "operationId": "getEventsByYear",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"

          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/events/{year}/simple": {
      "get": {
        "tags": [
          "event",
          "list"
        ],
        "description": "Gets a short-form list of events in the given year.",
        "operationId": "getEventsByYearSimple",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event_Simple"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"

          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/events/{year}/keys": {
      "get": {
        "tags": [
          "event",
          "list"
        ],
        "description": "Gets a list of event keys in the given year.",
        "operationId": "getEventsByYearKeys",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Array of Event Keys",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"

          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}": {
      "get": {
        "tags": [
          "event"
        ],
        "description": "Gets an Event.",
        "operationId": "getEvent",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"

          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/simple": {
      "get": {
        "tags": [
          "event"
        ],
        "description": "Gets a short-form Event.",
        "operationId": "getEventSimple",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event_Simple"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"

          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/alliances": {
      "get": {
        "tags": [
          "event"
        ],
        "description": "Gets a list of Elimination Alliances for the given Event.",
        "operationId": "getEventAlliances",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Elimination_Alliance"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"

          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/insights": {
      "get": {
        "tags": [
          "event"
        ],
        "description": "Gets a set of Event-specific insights for the given Event.",
        "operationId": "getEventInsights",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event_Insights"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"

          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/oprs": {
      "get": {
        "tags": [
          "event"
        ],
        "description": "Gets a set of Event OPRs (including OPR, DPR, and CCWM) for the given Event.",
        "operationId": "getEventOPRs",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event_OPRs"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"

          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/predictions": {
      "get": {
        "tags": [
          "event"
        ],
        "description": "Gets information on TBA-generated predictions for the given Event. Contains year-specific information. *WARNING* This endpoint is currently under development and may change at any time.",
        "operationId": "getEventPredictions",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event_Predictions"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"

          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/rankings": {
      "get": {
        "tags": [
          "event"
        ],
        "description": "Gets a list of team rankings for the Event.",
        "operationId": "getEventRankings",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event_Ranking"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"

          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/district_points": {
      "get": {
        "tags": [
          "event",
          "district"
        ],
        "description": "Gets a list of team rankings for the Event.",
        "operationId": "getEventDistrictPoints",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event_District_Points"
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"

          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/teams": {
      "get": {
        "tags": [
          "event",
          "team",
          "list"
        ],
        "description": "Gets a list of `Team` objects that competed in the given event.",
        "operationId": "getEventTeams",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Team"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"

          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/teams/simple": {
      "get": {
        "tags": [
          "event",
          "team",
          "list"
        ],
        "description": "Gets a short-form list of `Team` objects that competed in the given event.",
        "operationId": "getEventTeamsSimple",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Team_Simple"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"

          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/teams/keys": {
      "get": {
        "tags": [
          "event",
          "team",
          "list"
        ],
        "description": "Gets a list of `Team` keys that competed in the given event.",
        "operationId": "getEventTeamsKeys",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Array of Team Keys",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"

          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/teams/statuses": {
      "get": {
        "tags": [
          "event",
          "team",
          "list"
        ],
        "description": "Gets a key-value list of the event statuses for teams competing at the given event.",
        "operationId": "getEventTeamsStatuses",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/Team_Event_Status"
                  },
                  "description": "A key-value pair of `Team_Event_Status` objects with the event key as the key."
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"

          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/matches": {
      "get": {
        "tags": [
          "event",
          "match"
        ],
        "description": "Gets a list of matches for the given event.",
        "operationId": "getEventMatches",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Match"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"

          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/matches/simple": {
      "get": {
        "tags": [
          "event",
          "match"
        ],
        "description": "Gets a short-form list of matches for the given event.",
        "operationId": "getEventMatchesSimple",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Match_Simple"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"

          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/matches/keys": {
      "get": {
        "tags": [
          "event",
          "match"
        ],
        "description": "Gets a list of match keys for the given event.",
        "operationId": "getEventMatchesKeys",
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Array of Match Keys",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"

          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/matches/timeseries": {
      "get": {
        "tags": [
          "event",
          "match"
        ],
[...]
